root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tabs
indent_size = 4

[{*.gradle,gradlew,*.java,BUCK,*.xml,*.xib,*.xcscheme}]
indent_style = space
indent_size = 4

[*.xcworkspacedata]
indent_style = space
indent_size = 3

[{*.json,*.md,.prettierrc,.eslintrc,Podfile,Podfile.lock,*.iml,.buckconfig,*.m}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
